
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
    
    margin:0;
    padding:0;
    box-sizing: border-box;

}
header{
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);

}
.logo {
    display: flex;
    align-items: center;
 }
 .logo img{
    height:60px;
    width: auto;
 }
nav{
   max-width: 1500px;
    margin: 0 auto;
    padding: 16px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav.menu{
    display:flex;
    justify-content: center;
    color: #000000;


}
 .menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;
    text-align: center;
}
.menu ul li a{
    text-decoration:none;
    font-size: 16px;
    font-weight: 500;
    color:#000000
    
}
.menu ul li a:hover{
    color:#469165;
}
.btn {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    list-style:none;
    cursor:pointer;
    border: none;
    border-radius: 4px;
    background-color: #469165;
    
}
.btn a{
    text-decoration: none;
    color:#FFF;
}
.btn:hover {
    background: #FFF;
    color:#469165;
    border-color: #469165;
    box-shadow: 0px 4px 15px rgba(70, 145, 101, 0.3);
}
.btn:hover a{
    color:#469165;
}

.hero-container{
    background: url("./images/hero-bg.png") no-repeat center;
    background-size: cover;
    height: 674px;
    padding: 160px 341px;

}
.hero-content{
    position:relative;
    margin:0 auto;
    max-width: 1400px;
    height: 380px;
    align-items:center;
    text-align: center;

}
.hero-content .badge{
    display:inline-block;
    background-color:#FFFFFF;
    font-size: 16px;
    font-weight: 500;
    padding:8px 12px;
    border-radius: 24px;
    margin-bottom:2rem;
    color:#469165;

}
.fa-regular.fa-circle-dot{
    color:#469165;
    margin-right:4px;
}
.hero-content h1{
    font-size:72px;
    font-weight: 700;
    font-stretch: bold;
    color:#FFF;
    margin-bottom: 1rem;
}
.hero-content .highlight{
    color:#469165;
}
.hero-content p{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color:#FFF;
    margin-bottom: 2rem;
}
.hero-content .bottons{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color:#FFF;

}
.hero-content .btn{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    list-style:none;
    cursor:pointer;
    border: 2px solid #469165;
    border: none;
    border-radius: 4px;
    background-color: #469165;
    align-content: center;
    display: inline-flex;
    align-items: center;
    color:#FFFFFF;

}
.hero-content .btn:hover{
    background: #FFF;
    color:#469165;
    border-color: #469165;
    border:3px solid #469165;
    box-shadow: 0px 4px 15px rgba(77, 177, 119, 0.3);   
}
.hero-content .btn:hover img{
    color:#469165;
}
.hero-content .btn-secondary{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    list-style:none;
    cursor:pointer;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    background-color: transparent;
    margin-left:16px;
    height:52px;
    color:#FFFFFF;
}
.hero-content .btn-secondary i{
    color:#FFF;
    text-decoration: none;

}
.hero-content .btn-secondary:hover{
    background: #FFF;
    color:#469165;
    border-color: #469165;
    box-shadow: 0px 4px 15px rgba(70, 145, 101, 0.3);   
}
.hero-content.btn-secondary:hover .fa-solid{
    color:#469165;
    text-decoration: none;

}
.problems{
    position:relative;
    margin:0 auto;
   
   background-color: #fbfbfb;
    align-items:center;
    text-align: center;
    padding: 80px 20px;
}
.problems h2{
    font-size: 48px;
    font-weight: 700;
    color:#001931;
    margin-bottom:16px;

}
.problems p{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color:#627382;

}
.problem-box{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:34px;
    margin: 0 auto;
    margin-top:60px;
    max-width: 1600px;

}
.problem-box .problem-card{
    background-color:#FFFFFF;
    border-radius: 8px;
    padding:50px 32px 32px;
    width: 322px;
    height: 300px;
    box-shadow: #0000000F 0px 4px 16px;
    align-items: center;
}
.problem-card .card-img{
    height:60px;
    width:60px;
    size: 50%;
    padding: 10px;
    margin-bottom:24px;
    background-color: #F95555;
    border-radius: 50%;

}
.problem-card h3{
    font-size: 24px;
    font-weight: 600;
    color:#001931;
    margin-bottom:16px;

}
.problem-card p{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color:#627382;
}
.solution{
    position:relative;
    margin:0 auto;
    display: flex;
    justify-content: center;
   background-color: #FFFFFF;
    align-items:center;
    text-align: center;
    padding: 80px 40px;
    gap: 80px;
}
.solution-image{
    width: 600px;
    height: auto;
    border-radius: 24px;
    padding: 40px;
    
}
.solution .solution-content{
    max-width: 600px;
    text-align: left;
    margin-left: 6%;


}
.solution .solution-content h5{
    font-size: 16px;
    font-weight: 500;
    color:#469165;
    margin-bottom:16px;

}
.solution .solution-content h1{
    font-size: 48px;
    font-weight: 700;
    color:#001931;
    margin-bottom:16px;

}
.solution .solution-content p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color:#627382;
    margin-bottom:24px;

}
.solution .solution-content li{
    text-decoration: none;
    list-style: none;
    font: 16px;
    color:#001931;
    font-weight: 500;
    line-height: 20px;
    margin-bottom:16px;
    align-items: center;
    
}
.think-more{
    position:relative;
    margin:0 auto;
    max-width: 1400px;
   background-color: #F7F6F2;
    align-items:center;
    text-align: center;
    padding: 80px 20px;
    border-radius: 24px;
    margin-bottom: 100px;
}
.think-more h1{
    font-size: 48px;
    font-weight: 700;
    color:#001931;
    margin-bottom:16px;
}
.think-more p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color:#627382;
    margin-bottom:20px;
}
.think-more .btn{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    list-style:none;
    cursor:pointer;
    border: none;
    border-radius: 4px;
    background-color: #469165;
    color:#FFFFFF;
    align-content: center;
}   


.think-more .pay {
    margin-top:20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color:#627382;
    margin-bottom: 20px;

}
.footer{
    background-color: #001931;
    color:#FFFFFF;
    padding: 60px 80px;
    max-width: 1600px;
}
.footer-content{
    background-color: #001931;
    color:#FFFFFF;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 220px;

}
.footer-logo img{
    height:48px;
    width: auto;
}
.footer-social i{
    font-size: 20px;
    color:#FFFFFF;
    margin-right:16px;
    text-decoration: none;

}
.footer-social h5{
    font-size: 16px;
    font-weight: 500;
    margin-bottom:15px;
    
}
.footer-bottom{
    background-color: #001931;
    text-align: center;
    font-size: 14px;
    color:#FFFF;

}